@import 'var.scss';
@import 'price-card.scss';

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: $black;
}
.page {
  margin: auto;
  width: 1176px;
  display: flex;
  justify-content: space-between;
}
