@import 'var.scss';
@import 'price-card.scss';

html {
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.page {
  width: 1440px;
  height: 1000px;
  margin: 0 auto;
  padding: 115px 132px;
  background-color: $black;
  display: flex;
  justify-content: space-between;
}
