.price-card {
  width: 380px;
  height: 770px;
  text-align: center;
  background-color: $grey;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  color: $white;
  &__header {
    padding: 33px 0;
  }
  &__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  &__price {
    height: 105px;
    font-size: 55px;
    font-weight: 700;
    line-height: 105px;
    text-align: center;
    vertical-align: middle;
    background-color: $green;
    &_blue {
      background-color: $blue;
    }
    &_orange {
      background-color: $orange;
    }
  }
  &__description {
    padding: 40px 26px;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
  }
  &__options-list {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
  }
  &__order-button {
    margin: 39px 0 40px 0;
    width: 154px;
    height: 40px;
    color: $white;
    border: none;
    border-radius: 20px;
    background-color: $green;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    &_blue {
      background-color: $blue;
    }
    &_orange {
      background-color: $orange;
    }
  }
}

.options-list__item {
  height: 50px;
  line-height: 50px;
  &:nth-child(odd) {
    background-color: $dark-grey;
  }
  &::before {
    padding: 0 22px;
    content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
  }
  &_orange {
    &::before {
      padding: 0 22px;
      content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }
  &_blue {
    &::before {
      padding: 0 22px;
      content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }
  }
}
