$black: rgba(20, 27, 28, 1);
$white: rgba(255, 255, 255, 1);
$green: rgba(91, 177, 137, 1);
$grey: rgba(51, 66, 71, 1);
$dark-grey: rgba(42, 52, 56, 0.5);
$blue: rgba(58, 107, 165, 1);
$orange: rgba(236, 99, 42, 1);
